@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&display=swap');

html {
  @apply text-sm font-semibold;
}

.btn {
  @apply block font-bold p-3 rounded flex justify-center items-center
}
.btn-icon {
  @apply fill-current text-white inline h-5 w-5 mr-1
}
.btn-blue {
  @apply bg-blue-light text-white hover:bg-blue-lightest;
}
.btn-blue:hover {
  @apply bg-blue-light;
}

.tab {
  @apply flex flex-col justify-center items-center w-1/3 flex-shrink-0 text-white text-sm md:text-2xl uppercase font-serif font-bold shadow-md backdrop-filter backdrop-blur-md filter drop-shadow-md bg-black bg-opacity-60 hover:bg-opacity-30 border-t border-b border-white border-opacity-10
}
.tab-active {
  @apply bg-transparent pointer-events-none
}
.tab-icon {
  @apply fill-current text-white inline h-5 w-5
}

/* "React-Slick" Carosuel Dots */
/* Adapted from https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.css */
.slick-dots {
  z-index: 9;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  cursor: pointer;
  color: transparent;
  outline: none;
  background: white;
  border-radius: 50%;
  appearance: none;
  opacity: .25;
}
.slick-dots li.slick-active button {
  opacity: 1;
}

/* FS Lightbox Overrides */

/* Hide fullscreen button */
.fslightbox-toolbar-button:nth-child(1) {
  display: none;
}

/* Fix visibility bug seen on slides after clicking prev/next many times. */
.fslightbox-source {
  opacity: 1 !important;
}